{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__logo">
                        <a href="{% url 'homepage' %}"><img src="{% static 'img/logo1.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__social">
                        <a href="https://wa.me/31640828138?text=Ik%20wil%20graag%20een%20bel%20verzoek%20inplannen%20over%20een%20van%20jou%20services"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://www.facebook.com/gingge.li.7"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/gingge-li-49369a147/"><i class="social_linkedin"></i></a>
                        <a href="https://github.com/BuilderGin"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer__copyright__text">Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Alle rechten voorbehouden | This template is made with <i class="fas fa-heart" aria-hidden="true"></i> 
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a>. Mogelijk gemaakt door <a href="http://www.buildblock.nl" rel="nofollow" target=”_blank”>BuildBlock</a>.
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
